# -----------------------------
# Node / Angular
# -----------------------------
node_modules/
dist/
.angular/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# Python / FastAPI
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.env

# Virtual env
venv/
env/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Build
# -----------------------------
*.log