<mat-card class="card">

  <h2>AI Resume Builder</h2>
  <p class="subtitle">Build professional resumes with AI</p>

  <!-- ROLE -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Target Role</mat-label>
    <input matInput [(ngModel)]="formData.role" (input)="onInputChange()">
  </mat-form-field>

  <!-- SKILLS -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Skills</mat-label>
    <textarea matInput rows="2"
      [(ngModel)]="formData.skills"
      (input)="onInputChange()"></textarea>
  </mat-form-field>

  <div class="ai-output" *ngIf="aiResponse.autoFill?.skills">
    ✨ {{ aiResponse.autoFill.skills }}
  </div>

  <!-- EXPERIENCE -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Experience</mat-label>
    <textarea matInput rows="3"
      [(ngModel)]="formData.experience"
      (input)="onInputChange()"></textarea>
  </mat-form-field>

  <div class="ai-output" *ngIf="aiResponse.autoFill?.experience">
    ✨ {{ aiResponse.autoFill.experience }}
  </div>

  <!-- SUMMARY -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Summary</mat-label>
    <textarea matInput rows="3"
      [(ngModel)]="formData.summary"
      (input)="onInputChange()"></textarea>
  </mat-form-field>

  <div class="ai-output" *ngIf="aiResponse.autoFill?.summary">
    ✨ {{ aiResponse.autoFill.summary }}
  </div>

  <!-- LOADER -->
  <div class="loader" *ngIf="loading">
    <mat-spinner diameter="30"></mat-spinner>
    <span>AI improving your resume...</span>
  </div>

</mat-card>